<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create new Job</title>
</head>
<body>
	<div align="center">
		<h1> Create new job </h1>
		<br/>
		<form action="#" th:action="@{/create}" th:object="${job}" method="post">
			<table border = "0" cellpadding="10">
				<tr>
					<td> Job Title: </td>
					<td><input type="text" th:field="*{title}"/></td>
				</tr>
				<tr>
					<td> Start Date: </td>
					<td><input type="date" th:field="*{startdate}"/></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit"> Create </button>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>